div.copy Learntonode.com is dedicated to providing high quality resources to help developers learn to build applications using the powerful Node.js framework. 

  p From 
    a(href="http://www.nodejs.org") nodejs.org:
  p(style='font-style:italic;font-size:11pt') "Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices."

  p Learntonode seeks submissions from the Node.js community to provide links to high quality articles, tutorials, and other node.js learning references. Please return soon, as we hope to have the site fully operational in the near future!

div.outer
  div.innerwrap
    #post1.post.shadow
      img
      div.posttext
      //button.fullbutton Read the full article
    #post2.post.shadow
      img
      div.posttext
      //button.fullbutton Read the full article

div.outer
  div.innerwrap
    #post1.post.shadow
      img
      div.posttext
      //button.fullbutton Read the full article
    #post2.post.shadow
      img
      div.posttext
      //button.fullbutton Read the full article