!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js')

    meta(name="description", content="Learntonode.com is dedicated to providing high quality tutorials, guides, and examples to help developers learn Node.js.")
    meta(name="keywords", content="node javascript, node.js, node, node tutorial, node example, node examples, node sample, node.js tutorial, nodes tutorial, node guide, learning node, node programming, learn node, node.js examples, node.js example, node.js guide, node.js programming")
    link(rel="canonical", href="http://www.learntonode.com")

  div.header
    img(src='images/learn-to-node-logo.png')

  body!= body
